{{ $homeURL := getenv "WWW_HOME_URL" }}
{{ $data := index .context.Site.Data.benefits }}
{{ $data = index $data .context.Page.Language.Lang }}

<div class="benefits hide-on-print {{ .class }}">
  <div class="grid container">
    <div class="col-12 col-md-4">
      <h2>{{ $data.title }}</h2>
    </div>

    <div class="col-12 col-md-8">
      <div class="grid benefits__list">
        {{ range $data.items }}
          {{ $description := replace .description "{url}" (printf "%s%s" $homeURL .url) }}
          <div class="col-12 col-md-6 col-xl-3 benefits__item">
            <i class="icon-check"></i>
            <h5>{{ .title }}</h5>
            <p>{{ $description | safeHTML }}</p>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
