<div class="big-card-slider">
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper">
        {{ range .Pages }}
          <div class="swiper-slide">
            {{ partial "components/card" (dict "context" . "buttonText" (T "book-now")) }}
          </div>
        {{ end }}
        <div class="swiper-slide">&nbsp;</div>
      </div>
      <div class="big-card-slider__navigation">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>
