<div class="card-list container no-padding-xs-down bg-beige-50 load-more {{ .class }}">
  <div class="grid card-list__wrapper">
    {{ range .context.Pages }}
      <div class="load-more-card col-12 col-sm-6 col-lg-4">
        {{ partial "components/card" (dict "context" .) }}
      </div>
    {{ end }}
  </div>

  <div class="load-more__navigation">
    <div>
      <h4>
        {{ (T "results") }}:
        <span class="load-more-loaded"></span> /
        <span class="load-more-total"></span>
      </h4>
    </div>
    <hr>
    <button class="show-more">{{ (T "load-more-results") }}<i class="icon-caret-down"></i></button>
  </div>
</div>
