<div class="help grid">
  <div class="col-12 col-md-6">
    <div class="help__header">
      <h2>{{ .title }}</h2>
    </div>
    <p>{{ .description }}</p>
  </div>

  <div class="help__contacts col-12 col-md-6">
    {{ with .phone }}
      <p>
        <span class="help__action">{{ T "call-us" }}: </span>
        <a href="tel:{{ .number }}">{{ .number }}</a>
        <span class="help__days">{{ .days }}</span>
      </p>
    {{ end }}

    {{ with .email }}
      <hr>
      <p>
        <span class="help__action">{{ T "email-us" }}: </span>
        <a href="mailto:{{ . }}">{{ . }}</a>
      </p>
    {{ end }}

    {{ with .fax }}
      <hr>
      <p>
        <span class="help__action">{{ T "fax-us" }}: </span>
        <a href="tel:{{ . }}">{{ . }}</a>
      </p>
    {{ end }}

    {{ with .address }}
      <hr>
      <p>
        <span class="help__action">{{ T "write-to-us" }}: </span>
        {{ . }}
      </p>
    {{ end }}
  </div>
</div>
