{{ $cld := .context.Site.Params.cldUrl }}
{{ $transform := .context.Site.Params.cldTransform }}

<div class="image-cards negative-cp--down">
  {{ range .pages }}
    <a href="{{ .RelPermalink }}">
      {{ if in .Params.image $cld }}
        {{ $relSrc := replace .Params.image $cld "" }}
        <img data-src="{{ $cld }}w_768,h_420,{{ $transform }}/{{ $relSrc }}" class="lazyload" alt="" width="768" height="420">
      {{ else }}
        <img data-src="{{ .Params.image }}" class="lazyload" alt="" width="768" height="420">
      {{ end }}
      <p class="h3">{{ .Title }}</p>
    </a>
  {{ end }}
</div>
