{{- $cld := .context.Site.Params.cldUrl -}}
{{- $transform := .context.Site.Params.cldTransform -}}

{{- if in .src $cld -}}
  {{- $relSrc := replace .src $cld "" -}}
  <img
    data-src="{{- $cld -}}w_auto,{{- $transform -}}/{{- $relSrc -}}"
    class="{{- with .class -}}{{- . }} {{ end -}}cld-responsive"
    alt="{{- .alt -}}"
    {{- with .width -}}width="{{- . -}}"{{- end -}}
    {{- with .height -}}height="{{- . -}}"{{- end -}}
    {{- with .title -}}title="{{- . -}}"{{- end -}}>
{{- else -}}
  <img
    data-src="{{- .src -}}"
    class="{{- with .class -}}{{- . }} {{ end -}}lazyload"
    alt="{{- .alt -}}"
    {{- with .width -}}width="{{- . -}}"{{- end -}}
    {{- with .height -}}height="{{- . -}}"{{- end -}}
    {{- with .title -}}title="{{- . -}}"{{- end -}}>
{{- end -}}
