{{ $data := .Site.Data.newsletter }}
{{ $data = index $data .Page.Language.Lang }}
{{ $cld := .Site.Params.cldUrl }}
{{ $bp := .Site.Params.breakpoints }}
{{ $transform := .Site.Params.cldTransform }}

{{ $image := $data.images.default }}
{{ with .Params.brand }}
  {{ $image = index $data.images . }}
{{ end }}

<div class="newsletter hide-when-logged-in">
  <div class="frame frame--top-right frame--hide-md-down">
    {{ if in $image $cld }}
      {{ $relSrc := replace $image $cld "" }}
      <picture class="lazyload">
        <source srcset="{{ $cld }}w_962,h_800,{{ $transform }}/{{ $relSrc }}" media="(min-width: {{ $bp.lg }}px)">
        <source srcset="{{ $cld }}w_1200,h_560,{{ $transform }}/{{ $relSrc }}" media="(min-width: {{ $bp.md }}px)">
        <source srcset="{{ $cld }}w_992,h_400,{{ $transform }}/{{ $relSrc }}" media="(min-width: {{ $bp.sm }}px)">
        <source srcset="{{ $cld }}w_678,h_294,{{ $transform }}/{{ $relSrc }}">
      </picture>
    {{ else }}
      <img data-src="{{ $image }}" alt="{{ .Title }}" width="962" height="800" class="lazyload">
    {{ end }}
  </div>

  <div class="newsletter__content">
    <div>
      <h2 class="h1 no-margin">{{ $data.title }}</h2>
      <hr>
      <p class="large-text">{{ $data.description }}</p>

      <form>
        <input type="email" name="email" value="" required placeholder="{{ $data.inputPlaceholder }}" />
        <button class="button button--primary">{{ $data.buttonLabel }}</button>
      </form>
    </div>
  </div>
</div>
