{{ $cld := .Site.Params.cldUrl }}
{{ $bp := .Site.Params.breakpoints }}
{{ $transform := .Site.Params.cldTransform }}

<div class="page-hero">
  <div class="container grid no-row-gap">
    <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
      {{ if or .Params.location .Params.travelType }}
        <div class="page-hero__tags">
          {{ with .Params.location }}
            <span class="page-hero__location">{{ . }}</span> |
            {{ if and $.Params.date $.Params.expiryDate }}
              <span class="page-hero__date">{{ $.Params.date.Format "02.01.2006" }} - {{ $.Params.expiryDate.Format "02.01.2006" }}</span>
            {{ else }}
              {{ with $.Params.date }}
                <span class="page-hero__date">{{ $.Params.date.Format "02.01.2006" }}</span>
              {{ end }}
              {{ with $.Params.expiryDate }}
                <span class="page-hero__date">{{ $.Params.expiryDate.Format "02.01.2006" }}</span>
              {{ end }}
            {{ end }}
          {{ end }}
          {{ with .Params.travelType }}
            {{ $types := index $.Site.Data.travelTypes }}
            {{ $types = index $types $.Site.Language.Lang }}
            {{ range where $types.items "id" . }}
              <span class="page-hero__category">{{ .title }}</span>
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
      <h1 class="hero-title">{{ .Title }}</h1>
    </div>
  </div>

  <div class="page-hero__image">
    {{ if in .Params.image $cld }}
      {{ $relSrc := replace .Params.image $cld "" }}
      <img
        data-srcset="
          {{ $cld }}h_280,w_{{ $bp.xs }},{{ $transform }}/{{ $relSrc }} {{ $bp.xs }}w,
          {{ $cld }}h_280,w_{{ $bp.md }},{{ $transform }}/{{ $relSrc }} {{ $bp.md }}w,
          {{ $cld }}h_520,w_{{ $bp.xl }},{{ $transform }}/{{ $relSrc }} {{ $bp.xl }}w,
          {{ $cld }}h_640,w_{{ $bp.xxl }},{{ $transform }}/{{ $relSrc }} {{ $bp.xxl }}w
        "
        sizes="100vw"
        data-src="{{ $cld }}h_640,w_1440,{{ $transform }}/{{ $relSrc }}"
        class="lazyload"
        alt="{{ .Title }}"
        width="1440"
        height="640">
    {{ else }}
      <img data-src="{{ .Params.image }}" alt="" width="1440" height="640" class="lazyload">
    {{ end }}

    {{ if and .Params.campingType .Params.phobsId }}
      {{ $env := getenv "CONTEXT" }}
      {{ $phobsId := .Params.phobsId.develop }}
      {{ if and $env (eq $env "production") }}
        {{ $phobsId = .Params.phobsId.production }}
      {{ end }}
      <div id="booking-bar-app" data-phobs-id="{{ (trim $phobsId " ") }}"></div>
    {{ end }}

    {{ partialCached "components/scroll-down" (dict "extraClass" "scroll-down--hero") }}
  </div>

  <div class="container grid">
    <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
      {{ with .Params.note }}
        <div class="note no-margin">
          <strong><em>{{ .title }}</em></strong><br>
          <em>{{ .description }}</em>
        </div>
        <br><br>
      {{ end }}

      {{ with .Description }}
        <p class="large-text no-margin">{{ . }}</p>
      {{ end }}

      {{ with .Params.view360 }}
        <a href="{{ . }}" class="button button--secondary button--icons page-hero__button-360">
          <i class="icon-rotate"></i>
          {{ T "360-view" }}
          <i class="icon-arrow-right"></i>
        </a>
      {{ end }}

      {{ with .Params.button }}
        <a class="button button--primary section-margin-small-top" href="{{ .href }}">{{ .text }}</a>
      {{ end }}
    </div>
  </div>
</div>
