{{ $context := .context }}
{{ $cld := $context.Site.Params.cldUrl }}
{{ $bp := $context.Site.Params.breakpoints }}
{{ $transform := $context.Site.Params.cldTransform }}

{{ $brandLogo := "" }}
{{ with $context.Params.brand }}
  {{ $brandLogo = "https://res.cloudinary.com/maistra/image/upload/v1628234432/Brands/Collection/logo-maistra-collection.svg" }}
  {{ if eq . "select" }}
    {{ $brandLogo = "https://res.cloudinary.com/maistra/image/upload/v1628233398/Brands/Select/logo-maistra-select.svg" }}
  {{ else if eq . "camping" }}
    {{ $brandLogo = "https://res.cloudinary.com/maistra/image/upload/v1628233398/Brands/Camping/logo-maistra-camping.svg" }}
  {{ end }}
{{ end }}

<div class="property-card">
  <a href="{{ .RelPermalink }}" title="{{ .Title }}" class="property-card__image">
    {{ if in $context.Params.image $cld }}
      {{ $relSrc := replace $context.Params.image $cld "" }}
      <picture class="lazyload" data-alt="{{ .Title }}">
        <source srcset="{{ $cld }}w_576,h_320,{{ $transform }}/{{ $relSrc }}" media="(min-width: {{ $bp.lg }}px)">
        <source srcset="{{ $cld }}w_912,h_400,{{ $transform }}/{{ $relSrc }}" media="(min-width: {{ $bp.sm }}px)">
        <source srcset="{{ $cld }}w_768,h_320,{{ $transform }}/{{ $relSrc }}" media="(min-width: {{ $bp.xs }}px)">
        <source srcset="{{ $cld }}w_576,h_240,{{ $transform }}/{{ $relSrc }}">
      </picture>
    {{ else }}
      <img data-src="{{ $context.Params.image }}" alt="{{ $context.Title }}" width="400" height="400" class="lazyload">
    {{ end }}
  </a>

  <div class="property-card__content">
    <div class="property-card__text-group">
      {{ if ne $brandLogo "" }}
        <img data-src="{{ $brandLogo }}" alt="Maistra {{ $context.Params.brand }}" class="lazyload">
      {{ end }}

      <a class="h3" href="{{ $context.RelPermalink }}">{{ $context.Title }}</a>

      <div class="card__stars">
        {{ with $context.Params.stars }}
          <span>
            {{ range (seq .) }}
              <i class="icon-star" style="color: var(--color-{{ $context.Params.brand }});"></i>
            {{ end }}
          </span>
        {{ end }}
        <span>{{ $context.Params.destination }}</span>
      </div>

      <p class="no-margin-top">{{ $context.Params.description }}</p>
    </div>
    {{ partial "components/arrow-button" (dict
      "text" (T "discover-more")
      "href" $context.RelPermalink
      "class" "col-12 offset-md-2 col-md-8"
    ) }}
  </div>

  <div class="property-card__price">
    {{ if and (getenv "TRUST_YOU_API_KEY") $context.Params.trustYouId }}
      <a href="https://www.trustyou.com/about/meta-review?ty_id={{ $context.Params.trustYouId }}&lang={{ $context.Site.Language.Lang }}" target="_blank">
        <iframe
          src="https://api.trustyou.com/hotels/{{ $context.Params.trustYouId }}/seal.html?size=m&key={{ getenv "TRUST_YOU_API_KEY" }}&lang={{ $context.Site.Language.Lang }}"
          width="160"
          height="60"
          frameborder="0"
          id="iFrameResizer2"
          scrolling="no"
          style="overflow: hidden; pointer-events: none;">
        </iframe>
      </a>
    {{ end }}

    {{ with $context.Params.price }}
      <h3 class="unit-card__price">
        <span>{{ T "from" }}</span>
        {{ printf "%d,00 €" . }}
      </h3>
    {{ end }}

    {{ $link := $context.RelPermalink }}
    {{ $label := (T "book-now") }}

    {{ with .button }}
      {{ if isset . "href" }}
        {{ $link = .href }}
          {{ if ne $context.Site.Language.Lang "en" }}
          {{ $link = printf "%s" .href | printf "%s%s" $context.Site.Language.Lang | printf "%s%s" "/" | printf "%s" }}
        {{ end }}
      {{ end }}
      {{ if isset . "text" }}
        {{ $label = .text }}
      {{ end }}
    {{ end }}

    <a class="button button--primary" href="{{ $link }}">{{ $label }}</a>
  </div>
</div>
