<div class="quick-info {{ .extraClass }}">
  <div class="container">
    <div class="grid no-row-gap">
      <h2 class="col-12 col-sm-6 no-margin">{{ .context.title }}</h2>

      <ul class="col-12 col-sm-6 col-md-5 offset-md-7 col-xl-4 offset-xl-8 no-bullets">
        {{ range .context.items }}
          <li class="large-text">
            {{ if .href }}
              <a href="{{ .href }}" class="link">{{ .text | safeHTML }}</a>
            {{ else }}
              {{ .text | safeHTML }}
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
