{{ $c := .context }}
{{ $d := .services }}

{{ $services := index $c.Site.Data.services }}
{{ $services = index $services $c.Site.Language.Lang }}
{{ $services = $services.items }}
{{ $servicesUnits := index $c.Site.Data.servicesUnits }}
{{ $servicesUnits = index $servicesUnits $c.Site.Language.Lang }}
{{ $services = uniq ($services | append $servicesUnits.items) }}

<div class="services {{ with $d.extraClass }}services--{{ . }}{{ end }} {{ .class }}">
  <div class="services__wrapper">
    <h2>{{ with $d.title }}{{ . }}{{ else }}{{ T "services-amenities" }}{{ end }}</h2>

    <ul class="no-bullets">
      {{ range $services }}
        {{ if in $d.relationItems .id }}
          {{ template "li" .title }}
        {{ end }}
      {{ end }}

      {{ range $d.items }}
        {{ template "li" . }}
      {{ end }}
    </ul>

    <div class="services__show-more">
      <span class="show-more">
        {{ T "show-more" }}
        <i class="icon-caret-down"></i>
      </span>
    </div>
  </div>

  {{ with $d.extraText }}
    <p class="note">{{ . }}</p>
  {{ end }}
</div>

{{ define "li" }}
  <li>
    <i class="icon-check"></i>
    <span>{{ . }}</span>
  </li>
{{ end }}
