{{ $cld := .context.Site.Params.cldUrl }}
{{ $bp := .context.Site.Params.breakpoints }}
{{ $transform := .context.Site.Params.cldTransform }}

<div class="story {{ with .mode }}story--{{ . }}{{ end }} {{ .class }}">
  <div class="container">
    {{ partial "components/section-heading" .story }}

    <div class="grid align-items-center">
      {{ with .story.imageOne }}
        <div class="col-12 col-sm-4 col-xl-2">
          {{ if in .src $cld }}
            {{ $relSrc := replace .src $cld "" }}
            <picture class="lazyload story__image-one" data-alt="{{ .alt }}">
              <source srcset="{{ $cld }}w_480,h_460,{{ $transform }}/{{ $relSrc }}" media="(min-width: {{ $bp.md }}px)">
              <source srcset="{{ $cld }}w_322,h_280,{{ $transform }}/{{ $relSrc }}" media="(min-width: {{ $bp.sm }}px)">
              <source srcset="{{ $cld }}w_768,h_280,{{ $transform }}/{{ $relSrc }}">
            </picture>
          {{ else }}
            <picture class="lazyload story__image-one" data-alt="{{ .alt }}">
              <source srcset="{{ .src }}">
            </picture>
          {{ end }}
        </div>
      {{ end }}

      {{ with .story.imageTwo }}
        <div class="col-12 col-sm-8 col-xl-4 offset-xl-2 order-1">
          {{ if in .src $cld }}
            {{ $relSrc := replace .src $cld "" }}
            <picture class="lazyload story__image-two" data-alt="{{ .alt }}">
              <source srcset="{{ $cld }}w_756,h_460,{{ $transform }}/{{ $relSrc }}" media="(min-width: {{ $bp.md }}px)">
              <source srcset="{{ $cld }}w_420,h_280,{{ $transform }}/{{ $relSrc }}" media="(min-width: {{ $bp.sm }}px)">
              <source srcset="{{ $cld }}w_768,h_280,{{ $transform }}/{{ $relSrc }}">
            </picture>
          {{ else }}
            <picture class="lazyload story__image-one" data-alt="{{ .alt }}">
              <source srcset="{{ .src }}">
            </picture>
          {{ end }}
        </div>
      {{ end }}

      {{ with .story }}
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 offset-xl-7 order-sm-2 story__description {{ with .exposed }}story__description--exposed{{ end }}">
          {{ if .logoOne }}
            <img class="story__logo lazyload" data-src="{{ .logoOne.src }}" alt="{{ .logoOne.alt }}">
            <img class="story__logo lazyload" data-src="{{ .logoTwo.src }}" alt="{{ .logoTwo.alt }}">
            <p>{{ .description | markdownify }}</p>
          {{ else }}
            <p>{{ .description | markdownify }}</p>
            {{ with .exposed }}
              <p class="h1"><i>{{ . }}</i></p>
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</div>
