{{ $brand := .brand }}
{{ $context := .context }}
{{ $counter := .counter }}
{{ $brandList := .brandList }}
{{ $isRedirect := .isRedirect }}

<div class="unit-list {{ with .mode }}unit-list--{{ . }}{{ end }}"
{{ with .style }}{{ printf "style=%q" . | safeHTMLAttr}}{{ end }}>
  <div class="container">
    {{ $len := len .pages }}

    {{ range $i, $el := .pages }}
      {{ $title := "" }}
      {{ $description := "" }}
      {{ $gallery := false }}
      {{ $image := "" }}
      {{ $button := "" }}
      {{ $unitId := "" }}
      {{ $logo := "" }}
      {{ $reserve := cond (not (eq $brand "camping")) true false }}

      {{ if or .IsPage .IsSection }}
        {{ $title = .Title }}
        {{ $description = .Description }}
        {{ with .Params.gallery }}{{ $gallery = . }}{{ end }}
        {{ $image = .Params.image }}
        {{ $unitId = .Params.unitId }}
        {{ $logo = .Params.logo }}

        {{ $href := .RelPermalink }}
        {{ if $isRedirect }}
          {{ $slug := (index (split .RelPermalink "/") 2) }}
          {{ $href = print $context.RelPermalink $slug }}
        {{ end }}
        {{ $button = dict "href" $href }}
      {{ else }}
        {{ $title = .title }}
        {{ $description = .description }}
        {{ with .gallery }}{{ $gallery = . }}{{ end }}
        {{ $image = .image }}
        {{ $button = .button }}
      {{ end }}

      {{ $class := (cond (and (eq $i 1) (eq $len 2)) "frame--top-left" "") }}

      {{ partial "components/unit-card" (dict
        "index" $i
        "context" $context
        "counter" $counter
        "class" $class
        "title" $title
        "description" $description
        "gallery" $gallery
        "image" $image
        "unitId" $unitId
        "button" $button
        "reserve" $reserve
        "path" .File.Path
        "logo" $logo
        "brandList" $brandList
        "brand" .Params.brand
      ) }}
    {{ end }}
  </div>
</div>
