{{ $path := split .path "/" }}
{{ $path = index  $path 0 }}
{{ $isEven := not (modBool .index 2) }}
{{ $theme := cond (eq .brandList true) (printf "theme--%s" .brand) ""}}
{{ $buttonType := cond (eq .brandList true) "button--white" "button--primary"}}
{{ $frameClass := "frame--bottom-right" }}
{{ $context := .context }}
{{ if ne .class "" }}
  {{ $frameClass = .class }}
{{ else if $isEven }}
  {{ $frameClass = "frame--bottom-left" }}
{{ end }}

<div class="grid unit-card lightgallery {{ $theme }}" data-unit-id="{{ .unitId }}">
  <div class='unit-card__image col-12 {{ if .reserve }}col-md-6{{ else }}col-md-7{{ end}} {{ if $isEven }}order-md-2 {{ if .reserve }}offset-md-6{{ else }}offset-md-5{{ end }}{{ end }}'>
    <div class="frame {{ $frameClass }} frame--hide-side-md-down">
      {{ if .gallery }}
        {{ template "unitCardImage" (dict "context" $context "image" .image "alt" .title) }}

        <div class="unit-card__gallery gallery-images">
          {{ partial "components/one-or-many-gallery-item" .gallery.items }}
        </div>

        {{ if $isEven }}
          {{ partialCached "components/view-gallery-button" (dict "class" "view-gallery-button--left") "left" }}
        {{ else }}
          {{ partialCached "components/view-gallery-button" dict }}
        {{ end }}
      {{ else if .button }}
        <a href="{{ .button.href }}" title="{{ .title }}">
          {{ template "unitCardImage" (dict "context" $context "image" .image "alt" .title) }}
        </a>
      {{ else }}
        {{ template "unitCardImage" (dict "context" $context "image" .image "alt" .title) }}
      {{ end }}
    </div>
  </div>

  <div class="col-12 col-md-4 offset-md-1 unit-card__content {{ if $isEven }}order-md-1{{ else }}offset-md-7{{ end }}">
    {{ if and .brandList .logo .button }}
      <a href="{{ .button.href }}">
        <img data-src="{{ .logo.src }}" alt="{{ .logo.alt }}" class="lazyload">
      </a>
    {{ else if .button }}
      <a class="h3 {{ if .counter }}h3--counter{{ end }}" href="{{ .button.href }}">{{ .title }}</a>
    {{ else }}
      <h3 class="h3 {{ if .counter }}h3--counter{{ end }}">{{ .title }}</h3>
    {{ end }}

    <span class="unit-card__people is-hidden"></span>
    <p>{{ .description | markdownify }}</p>

    <div>
      <div class="h3 unit-card__price is-hidden">
        <span>{{ T "from" }}</span>
      </div>

      {{ with .button }}
        <a class="button {{ $buttonType }}" href="{{ .href }}">
          {{ with .text }}
            {{ . }}
          {{ else }}
            {{ if eq $path "units" }}
              {{ (T "room-details") }}
            {{ else }}
              {{ (T "discover-more") }}
            {{ end }}
          {{ end }}
        </a>
      {{ end }}
    </div>
  </div>
</div>

{{ define "unitCardImage" }}
  {{ $cld := .context.Site.Params.cldUrl }}
  {{ $bp := .context.Site.Params.breakpoints }}
  {{ $transform := .context.Site.Params.cldTransform }}

  {{ if in .image $cld }}
    {{ $relSrc := replace .image $cld "" }}
    <img data-src="{{ $cld }}w_992,h_712,{{ $transform }}/{{ $relSrc }}" alt="{{ .alt }}" class="lazyload">
  {{ else }}
    <img data-src="{{ .image }}" alt="{{ .alt }}" class="lazyload">
  {{ end }}
{{ end }}
