<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
</head>
<body>
  <nav>
    switch to
    {{ range .Translations }}
      <a href="{{ .RelPermalink }}">
        {{ .Language.LanguageName }}
      </a>
    {{ end }}
    or go <a href="{{ .Site.Home.RelPermalink }}">home</a>
  </nav>

  {{ block "main" . }}{{ end }}
</body>
</html>
