<script type="text/javascript" data-cmp-ab="1" src="https://cdn.consent.hr/delivery/autoblocking/910f51dc9daa.js"
  data-cmp-host="delivery.consent.hr" data-cmp-cdn="cdn.consent.hr" data-cmp-codesrc="1"></script>
<script data-cmp-ab="1">
  window.cmp_block_inline = false;
  window.cmp_block_unkown = false;
  window.cmp_block_sync = false;
  window.cmp_block_img = false;
  window.cmp_block_samedomain = false;
  window.cmp_block_ignoredomains = ['maps.googleapis.com', 'res.cloudinary.com']
</script>
