{{ $data := index .Site.Data.footer }}
{{ $data = index $data .Page.Language.Lang }}

{{ $propertyPage := . }}
{{ if .IsPage }}
  {{ $slug := replace .File.Dir "/" "" }}
  {{ $slug = replace $slug "properties" "" }}

  {{ with .Site.GetPage (print "/properties/" $slug) }}
    {{ $propertyPage = . }}
  {{ end }}
{{ end }}

<div class="footer-bottom hide-on-print {{ if eq $propertyPage.Params.brand "collection" }}bg-blue-dark{{- end -}}">
  <div class="container">
    <div class="footer-bottom__logos">
      <a href="{{ .Site.Home.RelPermalink }}">
        <img data-src="{{ .Site.BaseURL }}{{ $data.bottomFooter.logo.src }}" alt="{{ $data.bottomFooter.logo.alt }}" width="160" height="48" class="lazyload">
      </a>

      {{ with $data.extraLogos }}
        <div>
          {{ range . }}
            <a href="{{ .href }}" title="{{ .alt }}">
              <img data-src="{{ .src }}" alt="{{ .alt }}" class="lazyload">
            </a>
          {{ end }}
        </div>
      {{ end }}
    </div>

    <nav class="footer-bottom__links">
      {{ range $data.bottomFooter.links }}
        <a href="{{ getenv "WWW_HOME_URL" }}{{ .href }}">{{ .title }}</a>
      {{ end }}
    </nav>

    <div class="footer-bottom__info">
      <span>© {{ dateFormat "2006" now }} {{ $data.bottomFooter.copyright }}</span>
    </div>
  </div>
</div>
