{{ $item := .item }}
{{ $dests := .dests }}
{{ $brands := .brands }}

{{ $properties := slice }}
{{ range .context.Site.Taxonomies.properties }}
  {{ if eq .Page.Params.menuGroup $item.Identifier }}
    {{ $properties = $properties | append .Page }}
  {{ end }}
{{ end }}

{{ $destSlice := slice }}
{{ range $dests }}
  {{ $destSlug := index (split .File.BaseFileName ".") 0 }}
  {{ $brandSlice := slice }}
  {{ range $brands }}
    {{ $brandSlug := .Params.brand }}
    {{ $propSlice := slice }}
    {{ range where (where $properties ".Params.brand" $brandSlug) "Params.destination" $destSlug }}
      {{ $propSlice = $propSlice | append . }}
    {{ end }}
    {{ if gt (len $propSlice) 0 }}
      {{ $brandSlice = $brandSlice | append (dict
        "title" .Title
        "logo" .Params.logo.src
        "brand" .Params.brand
        "properties" $propSlice
      ) }}
    {{ end }}
  {{ end }}
  {{ if gt (len $brandSlice) 0 }}
    {{ $destSlice = $destSlice | append (dict
      "title" .Title
      "inDestination" .Params.inDestination
      "slug" $destSlug
      "brands" $brandSlice
    ) }}
  {{ end }}
{{ end }}

<li class="main-menu" role="navigation">
  <a
    class="main-menu__button"
    role="button"
    {{ if (not .isSublevel) }}data-image="{{ .item.Post }}"{{ end }}
    aria-expanded="false"
    aria-controls="main-menu-{{ .item.Weight }}">
    <span>{{ .item.Pre }}</span>
    {{ .item.Name }}
  </a>

  <div id="main-menu-{{ .item.Weight }}" class="mega-menu__level mega-menu__level--3">
    <div class="mega-menu__title">
      <button>
        <i class="icon-arrow-left"></i>{{ T "back" }}
      </button>
      <span>{{ .item.Name }}</span>
    </div>

    {{ range $destSlice }}
      <details class="accordion">
        <summary>
          <div>
            <span class="h3">{{ .title }}</span>
            <i class="icon-caret-down"></i>
          </div>
        </summary>

        {{ range .brands }}
          {{ $brand := . }}
          <div class="main-menu__brand">
            <div><img data-src="{{ .logo }}" alt="{{ .title }}" class="lazyload"></div>
            <ul class="no-bullets">
              {{ range .properties }}
                {{ template "propertyLink" (dict "page" . "brand" $brand) }}
              {{ end }}
            </ul>
          </div>
        {{ end }}

        <div class="main-menu__footer">
          <a href="{{ $item.URL }}?type={{ $item.Identifier }}&destination={{ .slug }}">{{ T (print "all-" $item.Identifier) }} {{ .inDestination }}</a>
        </div>
      </details>
    {{ end }}

    <div class="main-menu__footer">
      <a href="{{ $item.URL }}?type={{ $item.Identifier }}">{{ T (print "all-" $item.Identifier) }}</a>
    </div>
  </div>
</li>

{{ define "propertyLink" }}
  <li>
    <a
      href="{{ .page.RelPermalink }}"
      class="js-property-link"
      data-image="{{ .page.Params.image }}"
      {{ with .page.Params.menuSecondImage }}data-second-image="{{ . }}"{{ end }}>
      <span>{{ .page.Title }}</span>
      <span class="stars theme--{{ .brand.brand }}">
        {{ range (seq .page.Params.stars) }}
          <i class="icon-star"></i>
        {{ end }}
      </span>
    </a>
  </li>
{{ end }}
