{{ $image := .Site.Params.image }}
{{ with .Params.image }}
  {{ $image = . }}
{{ end }}

<nav class="mega-menu" role="navigation">
  <button
    class="header__icon mega-menu__button"
    title="{{ T "open-menu" }}"
    aria-expanded="false"
    aria-controls="mega-menu">
    <i class="icon-menu"></i>
    <i class="icon-close"></i>
  </button>

  <div id="mega-menu" class="mega-menu__wrapper">
    <div
      class="mega-menu__image"
      {{ with $image }}data-image="{{ . }}"{{ end }}>
    </div>

    <div class="mega-menu__levels">
      <div class="mega-menu__level mega-menu__level--1">
        {{ partial "base/mega-menu-levels" (dict "context" .) }}
      </div>
    </div>
  </div>
</nav>
