{{ $title := .Get "title" }}
{{ $phone := .Get "phone" }}
{{ $email := .Get "email" }}
{{ $menuTitle := .Get "menuTitle" }}
{{ $content := .Get "content" }}
{{ $button := .Get "button" }}
{{ $contact := split (.Get "openingHours") "," }}
{{ $extraClass := .Get "extraClass"}}

<div class="contact">
  <div class="grid container">
    <div class="contact__reservations-menu col-12 {{ if $extraClass }} col-md-6 {{ else }}offset-md-2 col-md-4 {{ end }}">
      <h2>{{ $title }}</h2>
      <h3>{{ (T "reservations") }}</h3>
      <hr>

      <a href="tel: {{ $phone }}">{{ $phone }}</a>
      <a href="mailto: {{ $email }}">{{ $email }}</a>
      <h3>{{ (T "opening-hours") }}</h3>
      <hr>

      {{ range $index, $element := $contact }}
        {{ $item := split $element "|"}}
        {{ $left := index $item 0 }}
        {{ $right := index $item 1 }}

        <li>{{ $left }}<span></span>{{ $right }}</li>
      {{ end }}
    </div>

    <div class="contact__download-menu col-12 {{ if $extraClass }} offset-md-8 col-md-4 {{ else }} offset-md-8 col-md-4 {{ end }}">
      <i class="icon-wellness"></i>
      <h3>{{ $menuTitle }}</h3>
      <p>{{ $content }}</p>
      <a href="{{ $button }}" class="button button--white">{{ (T "download-menu") }}</a>
    </div>
  </div>
</div>
