{{- $gallery := split (.Get "gallery") "|" -}}
{{- $hasGallery := and $gallery (ne $gallery "undefined") -}}
{{- $image :=  .Get "image" -}}

<div class="image {{ if $hasGallery -}}lightgallery{{- end -}}">
  {{- partial "components/image" (dict
    "context" .
    "src" $image
  ) -}}

  {{- if $hasGallery -}}
    {{- partialCached "components/view-gallery-button" dict -}}
    <div class="gallery-images is-hidden">
      {{- range $gallery -}}
        <a class="galleryImage" href="{{- . -}}"></a>
      {{- end -}}
    </div>
  {{- end -}}
</div>
