{{ $items := split .Inner ";;" }}
{{ $itemsSlice := slice }}
{{ $rand := index (seq 100 999 | shuffle) 0 }}

<div class="container">
  <div class="tabs tabs--shortcode">
    {{ range  $key, $value := $items }}
      <input
        id="{{ $key }}-{{ $rand }}"
        type="radio"
        name="tab-{{ $rand }}" {{ if eq $key 0 }}checked{{ end }}>
    {{ end  }}

    <div class="tabs__holder">
      {{ range  $key, $value := $items  }}
      {{ $item := split $value "|-|"}}
      {{ $title := index $item 0 }}
        <label for="{{ $key }}-{{ $rand }}">
          <span>{{ $title }}</span>
        </label>
      {{ end }}
    </div>

    {{ range  $key, $value := $items }}
      {{ $item := split $value "|-|"}}
      {{ $content := index $item 1 }}

      <section>
        {{ $text := replaceRE  `<(?:"[^"]*"['"]*|'[^']*'['"]*|[>.*<]*|[^'">])*>` "" $content}}
        {{ $text | markdownify}}

        {{ $shortCode := findRE `<(?:"[^"]*"['"]*|'[^']*'['"]*|[>.*<]*|[^'">])*>` $content }}
        {{ range $shortCode }}
          {{ . | safeHTML }}
        {{ end }}
      </section>
    {{ end }}
  </div>
</div>
